.education {
  background-color: #121212;
  overflow: hidden;
  // overflow-y: scroll; add this css if more experience
  background-size: contain;
  height: auto !important;
  margin-bottom: 20vh;
  h1 {
    color: hsl(0, 0%, 87%);
    font-size: 35px;
    text-align: center;
    margin-top: 2rem;
  }

  // h3 {
  //   padding-top: 0.25em;
  // }
  .wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: 10vh;
    ::-webkit-scrollbar {
      display: none;
    }
  }
  .vertical-timeline {
    margin-top: 0;
  }
  .vertical-timeline-element-content {
    padding: 2em 3em !important;
    background-color: hsl(0, 0%, 87%);
  }

  .date {
    color: black;
    font-weight: 700;
  }

  .vertical-timeline-element-date {
    position: initial !important;
  }
  @media only screen and (max-width: 1700px) {
    .vertical-timeline-element-date {
      display: block !important;
      float: none !important;
      color: rgb(44, 44, 44) !important;
      margin-top: 1.5em;
    }
  }
}
