@import "../../global.scss";
@font-face {
  font-family: 'Agustina';
  font-style: normal;
  font-weight: 400;
  src: local('Agustina'), url('https://fonts.cdnfonts.com/s/29981/Agustina.woff') format('woff');
}

.topbar {
  width: 100%;
  height: 70px;
  background-color: #121212;
  color: $mainColor;
  position: fixed;
  top: 0;
  z-index: 3;
  overflow: hidden;
  transition: all 1s ease;

  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;

      .logo {
        font-family: "Agustina", sans-serif;
        font-weight: 500;
        font-size: 25px;
        margin-right: 30px;
        text-decoration: none;
        color: white;
        padding: 0 10px;
      }
    }
    .right {
      .hamburger {
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        span {
          width: 100%;
          height: 2px;
          background-color: $mainColor;
          transform-origin: left;
          transition: all 2s ease;
        }
      }
    }
  }

  &.active {
    background-color: #ff083a;
    color: white;

    .hamburger {
      span {
        background-color: black !important;

        &:first-child {
          background-color: white !important;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: white !important;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
