@import "../../global.scss";

.portfolio {
  background-color: #121212;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20vh;

  .content {
    margin-bottom: 100px;
    text-align: center;
    h1 {
      font-size: 35px;
      color: #dedede;
      margin-top: 2rem;
    }
    p {
      font-size: 16px;
      line-height: 30px;
      color: #dedede;
    }
  }

  ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;
  }

  .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    .item {
      width: 30vw;
      height: 45vh;
      margin: 30px 10px;
      position: relative;
      transition: all 0.5s ease;
      display: flex;
      justify-content: center;
      cursor: pointer;
      

      h3,
      a {
        position: absolute;
        font-size: 20px;
        text-align: center;
        margin-top: 7rem;
      }
      .devicon-github-original {
        position: absolute;
        margin-top: 5rem;
        font-size: 3rem;
        color: white;
        text-align: center;
        margin-left: -5rem;
        &:hover {
          color: grey;
          transition: all 0.5s ease;
        }
      }
      .live-icon {
        position: absolute;
        margin-top: 5rem;
        font-size: 3.2rem;
        color: white;
        text-align: center;
        margin-left: 1rem;

        &:hover {
          color: red;
          transition: all 0.5s ease;
        }
      }

      img {
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 0.75rem;
      }

      &:hover {
        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .item {
        width: 80vw;
        height: 40vh;
      }
    }
  }
}
